{{> head }}


    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Consulta Dental Daaron</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure amet deserunt quam temporibus expedita, beatae, explicabo error, accusamus nesciunt repudiandae minima et non odit? Pariatur quaerat ratione numquam assumenda iste.
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/logo.JPG" class="img-thumbnail">
        </div>
       
    </div>

   {{> footer}}
